<!DOCTYPE html>
<html>
<%- include("partials/head.ejs") %>
<body>
    <%- include("partials/user_header.ejs") %>
    <div class="results">
            <div class="list" id="trails">
                <h2><%= user.username %>'s Saved Hikes </h2>
                <% saved.forEach(save => { %>
                <a id="trailBoxes" href="/user/<%=save._id; %>"> 
                    <div id="trailImg"><img src="<%=save.image; %>"></div>
                    <div id="trailName"><h4><%= save.name %></h4></div>
                    <div id="trailNotes"><h4><%= save.note %></h4></div>
                    <button id="addNote">Add note</button>
                </a>
                 <% }) %>
            </div>  
    </div>
</body>
</html>