<!DOCTYPE html>
<html>
<%- include("partials/head.ejs") %>
<body>
    <%- include("partials/user_header.ejs") %>
    <div class="trailDetail">
        <div class="info">
            <h2><%= trail.name %></h2>
            <h3><%= trail.location %> </h3>
            <p><%= trail.description %> </p>
            <!-- <form action="/user/dashboard"  method="POST"><i class="fa-solid fa-heart-circle-plus"></i><input type="submit" value="Save Trail"></input></form> -->
            <a href="/user/dashboard/:id" ><button class="saveMe">Save Trail</button></a>
        </div>
        <div class="map">
            <img id="map" src="<%= trail.map %>">
        </div>
        <div class="largeImg">
            <img id="trailImg" src="<%=trail.image%>">
            <h5><%= trail.imageDescription %> </h5>
        </div>
        <div class="directions">
            <h3>TRAILHEAD</h3><p><%= trail.trailhead %> </p>
            <h4><%= trail.length %> </h4>
            <h4>Approximate hike time: <%= trail.time %></h4>
        </div>

    </div>
            <!-- The Modal -->
            <div id="mapModal" class="modal1">
            <!-- The Close Button -->
            <span class="close">&times;</span>
            <!-- Modal Content (The Image) -->
            <img class="modal-content" id="mapLrg" src="<%= trail.map %>"></div>
                <!-- The Modal -->
            <div id="imgModal" class="modal2">
            <!-- The Close Button -->
            <span class="close">&times;</span>
            <!-- Modal Content (The Image) -->
            <img class="modal-content" id="trailImgLrg" src="<%= trail.image %>">
            <div id="caption"><%= trail.imageDescription %></div></div>

</body>
</html>