<!DOCTYPE html>
<html>
<%- include("partials/head.ejs") %>
<body>
    <%- include("partials/header.ejs") %>
    <div class="trailDetail">
        <div class="info">
            <h2><%= trail.name %></h2>
            <h3><%= trail.location %> </h3>
            <p><%= trail.description %> </p>
            <i class="fa-solid fa-heart-circle-plus"></i> <button class="oops" Save Trail>Save Trail</button>
            <div class="custom-model-main">
                <div class="custom-model-inner">
                    <div class="close-btn">×</div>
                    <div class="custom-model-wrap">
                        <div class="pop-up-content-wrap">
                            <h2>Oops!</h2>
                            <p>Please <a href="/user/login">log in</a> or <a href="/user/signup">create an account</a> to save your favorite trails.</p>
                        </div>
                    </div>
                </div>
            <div class="bg-overlay"></div>
            </div>
           </div>
        <div class="map">
            <img id="map" src="<%= trail.map %>">
        </div>
        <div class="largeImg">
            <img id="trailImg" src="<%=trail.image%>">
            <h5><%= trail.imageDescription %> </h5>
        </div>
        <div class="directions">
            <h3>TRAILHEAD</h3><p><%= trail.trailhead %> </p>
            <h4><%= trail.length %> </h4>
            <h4>Approximate hike time: <%= trail.time %></h4>
        </div>

    </div>
</body>
</html>