<!DOCTYPE html>
<html>
<%- include("partials/head.ejs") %>
<body>
    <section>
    <%- include("partials/header.ejs") %>
    <div class="searchAgain">
        <div class="locationTitle"><h1> <%= trails[0].location %> </h1></div>
        <div id="locationSearch">
            <form class="options2" action="/trails/results" method="get">
                <select name="location" id="locations">
                    <option value="choose">Choose an Area</option>
                    <option value="Longmire Area">Longmire Area</option>
                    <option value="Paradise Area">Paradise Area</option>
                    <option value="Ohanapecosh Area">Ohanapecosh Area</option>
                    <option value="Sunrise Area">Sunrise Area</option>
                    <option value="Carbon River & Mowich Area">Carbon River & Mowich Area</option>
                </select>
                <button>Find Trails</button>
                </form>
        </div>
    </div>
    <div class="results">
            <div class="list" id="trails">
                <% trails.forEach(trail => { %>
                <a id="trailBoxes" href="/trails/<%=trail._id; %>"> 
                    <div id="trailImg"><img src="<%=trail.image; %>"></div>
                    <div id="trailName"><h4><%= trail.name %></h4></div>
                </a>
                 <% }) %>
            </div>  
    </div>
    </section>
</body>
</html>