<!DOCTYPE html>
<html>
<%- include("partials/head.ejs") %>
<body>
    <section>
    <%- include("partials/user_header.ejs") %>
        <h1> <%= trails[0].location %> </h1>
    <div class="results">
            <div class="list" id="trails">
                <% trails.forEach(trail => { %>
                <a id="trailBoxes" href="/user/hikes/<%=trail._id; %>"> 
                    <div id="trailImg"><img src="<%=trail.image; %>"></div>
                    <div id="trailName"><h4><%= trail.name %></h4></div>
                </a>
                 <% }) %>
            </div>  
    </div>
    </section>
</body>
</html>