<!DOCTYPE html>
<html>
<%- include("partials/head.ejs") %>
<body>
    <%- include("partials/user_header.ejs") %>

    <div class="trailDetail">
        <div class="info">
            <h2><%= save.name %></h2>
            <h3><%= save.location %> </h3>
            <p><%= save.description %> </p>
            <p><%= save.note %> </p>
            <a href="/user/edit/<%=save._id %>"><button id="edit">ADD NOTE</button></a><br><br>
        </div>
        <div class="map">
            <img id="map" src="<%= save.map %>">
        </div>
        <div class="largeImg">
            <img id="trailImg" src="<%=save.image%>">
            <h5><%= save.imageDescription %> </h5>
        </div>
        <div class="directions">
            <h3>TRAILHEAD</h3><p><%= save.trailhead %> </p>
            <h4><%= save.length %> </h4>
            <h4>Approximate hike time: <%= save.time %></h4>
        </div>

    </div>
    <!-- <form action="/user/hikes/:id"  method="POST" id="savedTrail">
       <input type="hidden" name="name" value="<%= save.name %>"> 
       <input type="hidden" name="location" value="<%= save.location %>">     
       <input type="hidden" name="description" value="<%= save.description %>">     
       <input type="hidden" name="map" value="<%= save.map %>">     
       <input type="hidden" name="image" value="<%= save.image %>">     
       <input type="hidden" name="imageDescription" value="<%= save.imageDescription %>">     
       <input type="hidden" name="trailhead" value="<%= save.trailhead %>">     
       <input type="hidden" name="length" value="<%= save.length %>">     
       <input type="hidden" name="time" value="<%= save.time %>">     
    </form> -->
</body>
</html>